[submodule "lib/uv"]
	url = https://github.com/libuv/libuv.git
	ref = refs/heads/v1.x
	path = lib/uv
[submodule "lib/duktape"]
	url = https://github.com/svaarala/duktape-releases.git
	ref = refs/tags/v0.12.0
	path = lib/duktape
